[flake8]
# * Complexity
# C901: complexity check (mccabe)
# * Errors & style (https://flake8.pycqa.org/en/latest/user/error-codes.html)
# E123,E133: ignored by default by pep8, so we ignore them here
# E203: not pep8 compliant
# E241,E242: spacing after a comma - not used
# F812: list comprehension redefines name
# W503: line break before operator - ignored as W504 is in pep8
# * Documentation (https://pep257.readthedocs.io/en/latest/error_codes.html)
# D100: missing doc in module
# D101: missing doc in class
# D102,D103: missing doc in public method, function
# D205: 1 blank line required between summary line and description
# D210: no whitespaces allowed surrounding docstring text - not used
# D400: first line should end with a period
ignore = C901,E123,E133,E203,F812,W503,D102,D205,D400
max-line-length = 100
exclude = .venv,venv,.git
max-complexity = 15
